.navbar {
    background-color: #F6E4D2;
}

.navbar-brand {
    color: #60685C;
}

.navbar-nav {
    font-family: "Montserrat", sans-serif;
}

.font-Lora {
    font-family: "Lora", serif;
}

.font-Montserrat {
    font-family: "Montserrat", sans-serif;
}